<br><br>
<div class="container-fluid mt-5">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3">
      <img src="../../../assets/about us.jpeg" alt="" style="width: 600px;" >
     </div>
    </div>
    <div class="col">
      <div class="p-3">
          <img src="../../../assets/nest logo.png" alt="" style="width: 80%; padding: 0%;">
          <h1 class="mt-5 justify-content-center" style="color: rgb(28, 77, 240); text-align: center;" >Harnessing world-class technology</h1>
          <h4 class="mt-5 justify-content-center" style="color: rgb(28, 77, 240); text-align: center;">CREATING BOUNDLESS IMPACT</h4>

      </div>
    </div>
  </div>
</div>

<h1>Mision</h1>
<div class="clearfix">

<p>Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.</p>
<img src="../../../assets/mision-100.jpg" alt=""style="width: 600px;">
</div>

<h1>vission</h1>
<div class="clearfix">

<p>Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.</p>
<img src="../../../assets/vision-297.jpg" alt=""style="width: 600px;">
</div>

<h1>Who we are</h1>
<div class="clearfix">

<p>Engineering Transformation. NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
<img src="../../../assets/who we-298.jpg" alt=""style="width: 600px;">
</div>
<h1>What We Believe In</h1>
<div class="clearfix">

<p>Our core values make us who we are today
  Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.</p>
<img src="../../../assets/beleve-299.jpg" alt=""style="width: 600px;">
</div>
